$accent-color: #FFEC41;


body {
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 100vh;
  margin: 0;
  padding: 0;
  
  background-image: url('./assets/images/triangles-dark.png');
  background-size: 100% auto;
  background-repeat: repeat-y;
}
.player-video {
  // width: 1000px;
  // height: 74vh;
  width: 100%;
  height: auto;
  max-height: 100%;
}
.player {
  position: relative;
  overflow: hidden;
  max-width: 1000px;
  // width: 1000px;
  // height: 80vh;
  border: 6px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.1);

  &:hover {
    .progress {
      height: 8px;
    }

    .player-controls {
      transform: translateY(0);
    }
  }
}

// .player:-webkit-full-screen,
// .player:fullscreen {
//   max-width: none;
//   width: 100%;
// }

// .play-btn {
//   flex: 1;
// }

.player-btn {
  background: none;
  border: 0;
  color: white;
  text-align: center;
  max-width: 60px;
  padding: 5px 8px;

  svg {
    fill: #fff;
  }

  &:hover,
  &:focus {
    // border-color: $accent-color;
    background: rgba(255, 255, 255, .2);
    outline: none;
    cursor: pointer;
  }
}

.time,
.load {
  background: none;
  border: 0;
  color: white;
  text-align: center;
  max-width: 90px;
  padding: 5px 8px;
}

.load {
  // margin-right: 20px;
}

.sliderOne {
  float: left;
}

.player-slider {
  width: 10px;
  height: 30px;
}

.player-controls {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  
  transform: translateY(100%) translateY(-5px);
  transition: all 0.3s;
}

// .player-controls > * {
//   flex: 1;
// }

.progress {
  display: flex;
  position: relative;
  
  flex: 10;
  flex-basis: 100%;
  height: 4px;
  
  background: rgba(0, 0, 0, 0.5);
  transition: height 0.3s;
}

.filled-progress {
  // width: 50%;
  background: #fff;
  // flex: 0;
  flex-basis: 0;
  cursor: pointer;
}

// .container {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

.sliders {
  display: flex;
  max-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

i {
  color: #fff;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}


input::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 6px;
  appearance: none;
  width: 15px; 
  height: 15px; 
  background: #272444; 
  cursor: pointer; 
}

// input::-moz-range-thumb {
//   width: 25px; 
//   height: 25px; 
//   background: #4CAF50; 
//   cursor: pointer; 
// }